<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.pratica">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/lista"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">



        <activity android:name=".listas.Lista_itens_finalizados" />
        <activity android:name=".listas.listaGrid" />

        <activity android:name=".Perfil"
                  android:screenOrientation="portrait"/>
        <activity android:name=".usuarios.Add_item_lista" />
        <activity
            android:name=".listas.Lista_de_itens"
            android:label="@string/title_activity_lista_de_itens"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>

        <activity android:name=".itens.item_riscado" />
        <activity android:name=".listas.Lista_tabela_fechada" />
        <activity android:name=".itens.item" />
        <activity android:name=".listas.Lista_cadatro" />
        <activity android:name=".Login" />
        <activity android:name=".Cadastro" />
        <activity android:name=".uteis.MainActivity" />
        <activity android:name=".listas.ListaP"
            android:label="@string/title_activity_lista_p"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>